body {
	font-size: 13px;
	font-family: "ComicRegular";
}

#wrapwrap {
	font-family: "ComicRegular";
	font-size: 13px;

	h1, h2, h3, h4, h5, h6 {
		font-family: "ComicRegular";
	}
	#top_menu > li > a {
		font-family: "ComicRegular";
	}
	.category-name {
		font-family: 'ComicRegular';
		font-size: 22px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.products_pager {
		font-size: 16px;
	}
	#products_grid_before {
		> ul > li > a {
			font-size: 16px !important;
		}
		a {
			font-size: 15px !important;
		}
	}
}

.oe_product {
	section {

		h5 strong a {
			font-size: 16px;
		}
	}
}

#wrapwrap > footer {
	.container {
		p, .list-unstyled {
			font-size: 16px;
		}
	}
}
