body {
  font-size: 13px;
  font-family: "VarelaRound-Regular";
}
#wrapwrap {
  font-family: "VarelaRound-Regular";
  font-size: 18px;
}
#wrapwrap h1,
#wrapwrap h2,
#wrapwrap h3,
#wrapwrap h4,
#wrapwrap h5,
#wrapwrap h6 {
  font-family: "VarelaRound-Regular";
}
#wrapwrap #top_menu > li > a {
  font-family: "VarelaRound-Regular";
}
#wrapwrap .category-name {
  font-family: 'VarelaRound-Regular';
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
#wrapwrap .products_pager {
  font-size: 16px;
}
#wrapwrap #products_grid_before > ul > li > a {
  font-size: 16px !important;
}
#wrapwrap #products_grid_before a {
  font-size: 15px !important;
}
.oe_product section h5 strong a {
  font-size: 16px;
}
#wrapwrap > footer .container p,
#wrapwrap > footer .container .list-unstyled {
  font-size: 16px;
}
