body {
  font-size: 13px;
  font-family: "Poppins";
}
#wrapwrap {
  font-family: "Poppins";
  font-size: 13px;
}
#wrapwrap h1,
#wrapwrap h2,
#wrapwrap h3,
#wrapwrap h4,
#wrapwrap h5,
#wrapwrap h6 {
  font-family: "Poppins";
}
#wrapwrap #top_menu > li > a {
  font-family: "Poppins";
}
#wrapwrap .category-name {
  font-family: 'Poppins';
  font-size: 22px;
}
#wrapwrap .products_pager {
  font-size: 16px;
}
.oe_product section h5 strong a {
  font-size: 16px;
}
#wrapwrap > footer .container p,
#wrapwrap > footer .container .list-unstyled {
  font-size: 16px;
}
