/* ==========================================================================
    light_green
   ========================================================================== */

/* Colors
   ========================================================================== */

@brand-primary: @light_green-primary;
@brand-success: @light_green-success;
@brand-info: @light_green-info;
@brand-warning: @light_green-warning;
@brand-danger: @light_green-danger;
