/* ==========================================================================
   Minerals
   ========================================================================== */

/* Colors
   ========================================================================== */

@brand-primary: @minerals-primary;
@brand-success: @minerals-success;
@brand-info: @minerals-info;
@brand-warning: @minerals-warning;
@brand-danger: @minerals-danger;
