
.flectra_app_switcher {
	height: 100%;
	overflow: auto;
	.o-flex-display();
	.o-flex-flow(column, nowrap);
	.o-align-items(center);

	.flectra_app_switcher_scrollable {
		.o-flex-display();
		.o-flex-flow(column, nowrap);
		.o-align-items(center);
		.o-flex(1, 0, auto);
		width: 100%;

		.o_apps {
			.o-flex(0, 0, auto);
			width: 100%;
			.clearfix();

			.o_app {
				float: left;
				width: 16.70%;
				@media (max-width: @screen-xs-max) {
					width: 33.5%;
				}
			}
		}
		.o_menuitems {
			width: 100%;

			.o-flex(1, 0, auto);
			.o_menuitem {
				@media (max-width: @screen-xs-max) {
					padding: 6px;
				}
			}

		}
		.o_no_results {
			.o-flex(1, 0, auto);
		}
	}
	.flectra_app_switcher_footer {
		.o-flex-display();
		.o-flex(1, 0, auto);
		align-items: flex-end;
	}
}
