.flectra_app_switcher {
	// Fallback for browsers that doesn't support css gradients
	background-position: center;
	//background-image: url(/web/static/src/img/application-switcher-bg.jpg);
	.o-background-size(cover);
	// Prefer css gradient over images
	//.o-skew-gradient(rgba(197, 155, 156, 1), rgba(121, 112, 131, 1));

	font-size: @flectra-font-size-base-touch;

	.o_menu_search.o_bar_hidden input {
		cursor: default;
	}
	.flectra_app_switcher_scrollable {
		.o_apps {
			margin-top: 10px;
			.user-select(none);
			.o_app {
				padding: 20px;
				border: 1px solid #cfd8dc;
				margin: -1px -1px 0 0;
				border-radius: 0;
				background: transparent;
				text-decoration: none;
				text-align: center;
				outline: none;
				.o-transition(all, 0.3s);
				.o_app_icon {
					width: 80%;
					max-width: 70px;
					border-radius: 6%;
					.o-transition(all, 0.1s);
					//box-shadow: 0 6px 15px fade(black, 5%);
					-webkit-filter: grayscale(25%);
					filter: grayscale(25%);
				}

				div.o_app_icon { // studio
					margin: auto;
					position: relative;
					overflow: hidden;

					&:before { // so that the div is the same size as images
						content: "";
						display: block;
						padding-top: 100%;
					}

					> i.fa {
						.o-position-absolute(27%, 0, auto, 0);
						font-size: 36px;

						@media screen and (max-width: 408px) {
							// where icons start to shrink
							font-size: 30px; // on old browser, optimized for mobile range
							font-size: 8.826vw; // ~36px at 408px
						}
					}
				}

				.o_caption {
					.o-text-overflow(block);
					margin-top: 8px;
					color: #333;
					font-weight: 700;
				}

				&:hover {
					background-color: #ebebeb;

				}

			}
		}

		.o_menuitems {
			margin-bottom: 40px;

			.o_menuitem {
				padding: 2px;
				.o-text-overflow();
				color: @flectra-brand-primary;
				margin-bottom: 3px;
				@media (min-width: @screen-sm-min) {
					font-size: 20px;
				}
				outline: none;
				width: 100%;
				@media (max-width: @screen-xs-max) {
					padding: 5px 0;
				}
				&:hover {
					color: darken(@brand-primary, 5%);
				}
				&:focus, &.o_focused {
					background-color: fade(white, 5%);
				}

				font-size: 17px !important;
			}
		}

		.o_no_result {
			font-size: 22px;
			margin-top: 10px;
		}

		.flectra_app_switcher_footer {
			.user-select(none);
			> img {
				width: 96px;
				margin-bottom: 30px;
			}
		}
	}
}

.database_expiration_panel {
	text-align: center;
	max-width: 768px;
	width: 100%;
	.alert {
		@media (min-width: @screen-md-min) {
			margin-top: 25px;
		}
		margin-bottom: 0px;
	}
}

.database_expiration_panel a i {
	margin: 0 0.2em;
}

.oe_instance_register_form, .oe_instance_success, .oe_instance_error, .oe_subscription_updated {
	display: none;
}

.flectra_app_switcher .flectra_app_switcher_scrollable {
	max-width: 1170px;
	.o_apps {
		max-width: 1170px;
	}
}
