/* cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src: local('Rubik Light'), local('Rubik-Light'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* hebrew */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src: local('Rubik Light'), local('Rubik-Light'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin-ext */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src: local('Rubik Light'), local('Rubik-Light'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src: local('Rubik Light'), local('Rubik-Light'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: local('Rubik'), local('Rubik-Regular'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* hebrew */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: local('Rubik'), local('Rubik-Regular'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin-ext */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: local('Rubik'), local('Rubik-Regular'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: local('Rubik'), local('Rubik-Regular'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: local('Rubik Medium'), local('Rubik-Medium'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* hebrew */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: local('Rubik Medium'), local('Rubik-Medium'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin-ext */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: local('Rubik Medium'), local('Rubik-Medium'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: local('Rubik Medium'), local('Rubik-Medium'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: local('Rubik Bold'), local('Rubik-Bold'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* hebrew */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: local('Rubik Bold'), local('Rubik-Bold'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin-ext */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: local('Rubik Bold'), local('Rubik-Bold'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: local('Rubik Bold'), local('Rubik-Bold'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	src: local('Rubik Black'), local('Rubik-Black'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* hebrew */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	src: local('Rubik Black'), local('Rubik-Black'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin-ext */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	src: local('Rubik Black'), local('Rubik-Black'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 900;
	src: local('Rubik Black'), local('Rubik-Black'), url(/web/static/src/fonts/Rubik-Regular.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

