.oe_website_login_container {
	vertical-align: middle;
	position: relative;
	height: 100%;
}

.oe_login_form {
	vertical-align: middle;
	padding: 50px !important;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #FFF;
	opacity: 0.9;
	margin: 0 auto !important;
	top: 20%;
	min-width: 40%;

	input,
	select {
		background-color: transparent !important;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 1px solid #CCC;
		border-radius: 0px;
		color: @brand-primary;
		font-size: 18px;
		font-weight: 300;
		transition: border-color 0.7s ease;
		box-shadow: none !important;
	}

	input:focus,
	select:focus {
		border-bottom: 1px solid @brand-primary;
		outline: 0 none;
	}

	select option {
		background-color: @brand-primary;

	}

	a.btn-select {
		background-color: @brand-primary;
		border-radius: 5px !important;
		color: #fff;
		transition: background-color 0.5s ease;
		&:hover {
			background-color: @brand-success;
			color: #FFF;
		}
	}

	.btn-primary {
		color: #FFF;
		background-color: @brand-primary;
		border: 1px solid #fff;
		text-transform: uppercase;
		transition: background-color 0.5s ease;

		&:hover {
			background-color: @brand-success;
			color: #FFF;
		}
	}

	.img_center {
		margin: 0 auto;
	}

}
