body {
	width: 100%;
	height: 100%;

	// Do not fix the search part, it's too big for small screens
	@media (max-width: @screen-sm-max) {
		overflow: inherit;
		.o_main {
			.oe-view-manager {
				overflow: inherit;
			}
		}
	}

	a {
		text-decoration: none !important;
	}
}

main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

> label {
	color: rgba(51, 51, 51, 0.66) !important;
}
