.text-primary{color:@brand-primary;}
.text-success{color:@brand-success;}
.text-info{color:@brand-info;}
.text-warning{color:@brand-warning;}
.text-danger{color:@brand-danger;}

//Blue
@blue-primary:#009efb;
@blue-success:#5cb85c;
@blue-info:#31708f;
@blue-warning:orange;
@blue-danger:#d9534f;

//Light_green
//@light_green-primary:#218559;
@light_green-primary:rgb(85, 206, 99);
@light_green-success:#06A2CB;
@light_green-info:#31708f;
@light_green-warning:orange;
@light_green-danger:#d9534f;

//Maroon
@maroon-primary:#970747;
@maroon-success:#13445A;
@maroon-info:#446878;
@maroon-warning:orange;
@maroon-danger:#d9534f;

//Minerals
@minerals-primary:#694364;
@minerals-success:#CCA772;
@minerals-info:#C4C4C0;
@minerals-warning:orange;
@minerals-danger:#d9534f;

//Paw
@paw-primary:#7460ee;
@paw-success:#5cb85c;
@paw-info:#31708f;
@paw-warning:orange;
@paw-danger:#d9534f;

//Spice
@spice-primary:#01c0c8;
@spice-success:#5cb85c;
@spice-info:#31708f;
@spice-warning:orange;
@spice-danger:#d9534f;
